In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
df = pd.read_csv('Wellbeing_and_lifestyle_data_Kaggle.csv')
df.head()

,Timestamp,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,...,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,WEEKLY_MEDITATION,AGE,GENDER,WORK_LIFE_BALANCE_SCORE
0,7/7/15,3,2,2,5,0,5,2,0,1,...,7,5,5,1,4,0,5,36 to 50,Female,609.5
1,7/7/15,2,3,4,3,8,10,5,2,2,...,8,2,2,2,3,2,6,36 to 50,Female,655.6
2,7/7/15,2,3,3,4,4,10,3,2,2,...,8,10,2,2,4,8,3,36 to 50,Female,631.6
3,7/7/15,3,3,10,3,10,7,2,5,2,...,5,7,5,1,5,2,0,51 or more,Female,622.7
4,7/7/15,5,1,3,3,10,4,2,4,2,...,7,0,0,2,8,1,5,51 or more,Female,663.9

In [26]:
df.columns

Index(['Timestamp', 'FRUITS_VEGGIES', 'DAILY_STRESS', 'PLACES_VISITED',
       'CORE_CIRCLE', 'SUPPORTING_OTHERS', 'SOCIAL_NETWORK', 'ACHIEVEMENT',
       'DONATION', 'BMI_RANGE', 'TODO_COMPLETED', 'FLOW', 'DAILY_STEPS',
       'LIVE_VISION', 'SLEEP_HOURS', 'LOST_VACATION', 'DAILY_SHOUTING',
       'SUFFICIENT_INCOME', 'PERSONAL_AWARDS', 'TIME_FOR_PASSION',
       'WEEKLY_MEDITATION', 'AGE', 'GENDER', 'WORK_LIFE_BALANCE_SCORE'],
      dtype='object')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15972 entries, 0 to 15971
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Timestamp                15972 non-null  object
 1   FRUITS_VEGGIES           15972 non-null  int64
 2   DAILY_STRESS             15972 non-null  object
 3   PLACES_VISITED           15972 non-null  int64
 4   CORE_CIRCLE              15972 non-null  int64
 5   SUPPORTING_OTHERS        15972 non-null  int64
 6   SOCIAL_NETWORK           15972 non-null  int64
 7   ACHIEVEMENT              15972 non-null  int64
 8   DONATION                 15972 non-null  int64
 9   BMI_RANGE                15972 non-null  int64
 10  TODO_COMPLETED           15972 non-null  int64
 11  FLOW                     15972 non-null  int64
 12  DAILY_STEPS              15972 non-null  int64
 13  LIVE_VISION              15972 non-null  int64
 14  SLEEP_HOURS              15972 non-null  int64
 15  LOST_VACATION            15972 non-null  int64
 16  DAILY_SHOUTING           15972 non-null  int64
 17  SUFFICIENT_INCOME        15972 non-null  int64
 18  PERSONAL_AWARDS          15972 non-null  int64
 19  TIME_FOR_PASSION         15972 non-null  int64
 20  WEEKLY_MEDITATION        15972 non-null  int64
 21  AGE                      15972 non-null  object
 22  GENDER                   15972 non-null  object
 23  WORK_LIFE_BALANCE_SCORE  15972 non-null  float64
dtypes: float64(1), int64(19), object(4)
memory usage: 2.9+ MB

In [28]:
df.isnull().sum()

Timestamp                  0
FRUITS_VEGGIES             0
DAILY_STRESS               0
PLACES_VISITED             0
CORE_CIRCLE                0
SUPPORTING_OTHERS          0
SOCIAL_NETWORK             0
ACHIEVEMENT                0
DONATION                   0
BMI_RANGE                  0
TODO_COMPLETED             0
FLOW                       0
DAILY_STEPS                0
LIVE_VISION                0
SLEEP_HOURS                0
LOST_VACATION              0
DAILY_SHOUTING             0
SUFFICIENT_INCOME          0
PERSONAL_AWARDS            0
TIME_FOR_PASSION           0
WEEKLY_MEDITATION          0
AGE                        0
GENDER                     0
WORK_LIFE_BALANCE_SCORE    0
dtype: int64

In [29]:
df.drop(['Timestamp'],axis=1, inplace=True)

In [30]:
df.head()

,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,TODO_COMPLETED,...,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,WEEKLY_MEDITATION,AGE,GENDER,WORK_LIFE_BALANCE_SCORE
0,3,2,2,5,0,5,2,0,1,6,...,7,5,5,1,4,0,5,36 to 50,Female,609.5
1,2,3,4,3,8,10,5,2,2,5,...,8,2,2,2,3,2,6,36 to 50,Female,655.6
2,2,3,3,4,4,10,3,2,2,2,...,8,10,2,2,4,8,3,36 to 50,Female,631.6
3,3,3,10,3,10,7,2,5,2,3,...,5,7,5,1,5,2,0,51 or more,Female,622.7
4,5,1,3,3,10,4,2,4,2,5,...,7,0,0,2,8,1,5,51 or more,Female,663.9

In [31]:
df['DAILY_STRESS'].value_counts()

DAILY_STRESS
3         4398
2         3407
4         2960
1         2478
5         2052
0          676
1/1/00       1
Name: count, dtype: int64

In [32]:
df[df['DAILY_STRESS']=='1/1/00']

,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,TODO_COMPLETED,...,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,WEEKLY_MEDITATION,AGE,GENDER,WORK_LIFE_BALANCE_SCORE
10005,3,1/1/00,1,2,10,10,5,5,2,6,...,6,10,1,2,10,8,2,21 to 35,Male,682.6

In [33]:
df = df[df['DAILY_STRESS'] != '1/1/00']

In [37]:
df.head()

,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,TODO_COMPLETED,...,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,WEEKLY_MEDITATION,AGE,GENDER,WORK_LIFE_BALANCE_SCORE
0,3,2,2,5,0,5,2,0,1,6,...,7,5,5,1,4,0,5,36 to 50,Female,609.5
1,2,3,4,3,8,10,5,2,2,5,...,8,2,2,2,3,2,6,36 to 50,Female,655.6
2,2,3,3,4,4,10,3,2,2,2,...,8,10,2,2,4,8,3,36 to 50,Female,631.6
3,3,3,10,3,10,7,2,5,2,3,...,5,7,5,1,5,2,0,51 or more,Female,622.7
4,5,1,3,3,10,4,2,4,2,5,...,7,0,0,2,8,1,5,51 or more,Female,663.9

In [38]:
df['AGE'].value_counts()

AGE
21 to 35        6107
36 to 50        4655
51 or more      3390
Less than 20    1819
Name: count, dtype: int64

In [39]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df['AGE'])

df['AGE'] = le.transform(df['AGE'])

,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,TODO_COMPLETED,...,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,WEEKLY_MEDITATION,AGE,GENDER,WORK_LIFE_BALANCE_SCORE
0,3,2,2,5,0,5,2,0,1,6,...,7,5,5,1,4,0,5,1,Female,609.5
1,2,3,4,3,8,10,5,2,2,5,...,8,2,2,2,3,2,6,1,Female,655.6
2,2,3,3,4,4,10,3,2,2,2,...,8,10,2,2,4,8,3,1,Female,631.6
3,3,3,10,3,10,7,2,5,2,3,...,5,7,5,1,5,2,0,2,Female,622.7
4,5,1,3,3,10,4,2,4,2,5,...,7,0,0,2,8,1,5,2,Female,663.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15967,3,3,0,4,0,10,0,4,2,8,...,7,0,1,1,5,2,5,2,Female,644.5
15968,3,3,6,8,7,4,6,3,1,7,...,6,0,0,2,10,5,8,0,Female,714.9
15969,4,3,0,10,10,8,6,5,1,7,...,7,0,1,2,10,1,10,0,Male,716.6
15970,1,1,10,8,2,7,3,2,1,6,...,8,7,2,2,1,6,8,0,Female,682.0
15971,5,4,0,2,10,10,5,1,2,7,...,8,5,2,2,1,8,4,0,Female,651.4

In [40]:
df['GENDER'] = le.fit_transform(df['GENDER'])
df.head()

,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,TODO_COMPLETED,...,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,WEEKLY_MEDITATION,AGE,GENDER,WORK_LIFE_BALANCE_SCORE
0,3,2,2,5,0,5,2,0,1,6,...,7,5,5,1,4,0,5,1,0,609.5
1,2,3,4,3,8,10,5,2,2,5,...,8,2,2,2,3,2,6,1,0,655.6
2,2,3,3,4,4,10,3,2,2,2,...,8,10,2,2,4,8,3,1,0,631.6
3,3,3,10,3,10,7,2,5,2,3,...,5,7,5,1,5,2,0,2,0,622.7
4,5,1,3,3,10,4,2,4,2,5,...,7,0,0,2,8,1,5,2,0,663.9

In [41]:
from sklearn.model_selection import train_test_split

X = df.drop(['WORK_LIFE_BALANCE_SCORE'], axis=1)
y = df['WORK_LIFE_BALANCE_SCORE']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=45)

In [42]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100, random_state=45)
rf.fit(X_train, y_train)

RandomForestRegressor(random_state=45)

In [43]:
rf.score(X_test, y_test)

0.9427556814278893

In [44]:
from sklearn.model_selection import cross_val_score

cv_scores = cross_val_score(rf, X, y, cv=5, scoring='neg_mean_squared_error')

# Print the mean and standard deviation of the cross-validation scores
print(f'Cross-Validation MSE: {-cv_scores.mean()} Â± {cv_scores.std()}')

Cross-Validation MSE: 133.185848090859 Â± 5.211570443462829

In [46]:
from sklearn.model_selection import KFold

# Define the KFold strategy
kf = KFold(n_splits=5, shuffle=True, random_state=42)

# Perform cross-validation
cv_scores = cross_val_score(rf, X, y, cv=kf, scoring='neg_mean_squared_error')

# Print the mean and standard deviation of the cross-validation scores
print(f'Cross-Validation MSE: {-cv_scores.mean()} Â± {cv_scores.std()}')

Cross-Validation MSE: 121.51236540039153 Â± 3.1363893642868805

In [45]:
# 
from sklearn.model_selection import GridSearchCV

# Define the parameter grid
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20, 30]
}

# Initialize GridSearchCV
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=5, scoring='neg_mean_squared_error')

# Fit the model
grid_search.fit(X, y)

# Best parameters and score
print(f'Best Parameters: {grid_search.best_params_}')
print(f'Best Cross-Validation MSE: {-grid_search.best_score_}')

Best Parameters: {'max_depth': 20, 'n_estimators': 200}
Best Cross-Validation MSE: 130.01242583652098